<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headConfig">
    <!-- ######### Basic ######### -->
    <meta charset="utf-8">

    <!-- ######### CSS ######### -->
    <!-- BootStrap5 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="/css/custom/common.css" th:href="@{/css/custom/common.css}">
</th:block>