<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
    <div class="st-div-header">
        <span class="st-span-header-left">
            <nav class="st-nav-header-left-menu-container">
                <div class="st-div-header-left-menu">
                    <span class="st-span-hamburger-bars"></span>
                </div>
                <ul class="div-ul-header-left-menu">
                    <li class="div-li-header-left-menu">Home</li>
                    <li class="div-li-header-left-menu">Shop</li>
                    <li class="div-li-header-left-menu">About</li>
                    <li class="div-li-header-left-menu">Contact</li>
                    <li class="div-li-header-left-menu">Notice</li>
                </ul>
            </nav>
        </span>
        <span class="st-span-header-center">sPODNIE tRIBE</span>
        <span class="st-span-header-right">로그인 등</span>
    </div>
</header>
</html>