<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<th:block th:replace="view/layout/layout :: layout(~{this :: content}, ~{this :: title})">
    <title th:fragment="title">spodnie-tribe</title>
    <main th:fragment="content">
        <div class="st-div-content-container">
            <div style="width: 100%; height: 732px; background: url('asset/image/asphalt-01.png') center no-repeat; background-size: contain;">
                <div style="width: 100%; height: 50%;">
<!--                    <img src="asset/image/test.png" th:src="@{asset/image/test.png}" alt="액박" class="st-img-main-img">-->
<!--                    <img src="asset/image/test.png" th:src="@{asset/image/test.png}" alt="액박" class="st-img-main-img">-->
                </div>
            </div>
            <div th:each="product : ${products}" th:text="${product.name}">

            </div>

            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-link">Link</button>
        </div>
    </main>
</th:block>
</html>